{% extends 'base.html' %}
{% block main %}
{% load static %}

<!--page-wrapper-->
<div class="page-wrapper">
    <!--page-content-wrapper-->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="row">
                <div class="col-12 col-lg-12 d-flex">
                    <div class="card radius-15 w-100">
                        <div class="card-header border-bottom-0">
                            <div class="d-flex align-items-center">
                                <div>
                                    <video width="1000" height="800" autoplay>
                                        <source src="https://player.vimeo.com/external/465764567.sd.mp4?s=9904e1083a943c29a490e3e79e6180a97512b802&profile_id=164&oauth2_token_id=57447761" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

            </div>
            <!--end row-->
        </div>
    </div>
</div>
{% endblock %}